
<div class="container">
    <div class="row">
		<div class="col-sm-4 col-md-4" >
			<img src="..\img\LINK LINK.png" style="position:absolute;z-index:1000">
		</div>
		<div class="col-sm-4 col-md-4">
			<form class="form-cadastre-se" method="POST">
				<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
				<h2 class="form-cadastre-se-heading">Cadastre-se</h2>
				<div class="form-group <%=(@usuario.tem_erro(:nome))?"has-error":""%>">
					<div class="input-group">
						<label for="login" class="sr-only">Nome</label>
						<span class="input-group-addon"><i class="glyphicon glyphicon-user color-blue"></i></span>
						<input type="text" id="Nome" name="nome" class="form-control" placeholder="Nome" required autofocus>
					</div>
				</div>
				<% if @usuario.tem_erro(:nome)%>
			    <label class="alert alert-danger"><%=@usuario.mensagem_erro(:nome)%></label>
				<% end %>
				<div class="form-group <%=(@usuario.tem_erro(:login))?"has-error":""%>">
					<div class="input-group">
						<label for="login" class="sr-only">Login</label>
						<span class="input-group-addon"><i class="glyphicon glyphicon-user color-blue"></i></span>
						<input type="text" id="login" name="login" class="form-control" placeholder="Login" required autofocus>
					</div>
				</div>
				<% if @usuario.tem_erro(:login)%>
			    <label class="alert alert-danger"><%=@usuario.mensagem_erro(:login)%></label>
				<% end %>				
				<div class="form-group">
					<div class="input-group">
						<label for="senha" class="sr-only">Senha</label>
						<span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
						<input type="password" id="senha" name="senha" class="form-control" placeholder="Senha" required>
					</div>
				</div>
			    <% if @usuario.tem_erro(:senha)%>
			    <label class="alert alert-danger"><%=@usuario.mensagem_erro(:senha)%></label>
				<% end %>
				<div class="form-group">
					<div class="input-group">
						<label for="repetir_senha" class="sr-only">Repetir Senha</label>
						<span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
						<input type="password" id="repetir_senha" name="repetir_senha" class="form-control" placeholder="Repetir Senha" required>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<label for="foto" class="sr-only">Repetir Senha</label>
						<span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
						<input type="password" id="foto" name="foto" class="form-control" placeholder="Foto" required>
					</div>
				</div>
			    <label class="alert alert-danger"><%=@usuario.mensagem_erro(:foto)%></label>
				<div class="form-group">
					<div class="input-group">
						<label for="email" class="sr-only">email</label>
						<span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
						<input type="email" id="email" name="email" class="form-control" placeholder="email" required autofocus>
					</div>
				</div>	
				<% if @usuario.tem_erro(:email)%>
			    <label class="alert alert-danger"><%=@usuario.mensagem_erro(:email)%></label>
				<% end %>
				<input name="acao" class="btn btn-lg btn-primary btn-block" type="submit" value="Salvar">			
				<% if flash[:success].present? %>
				<label class="alert alert-success"><%= flash[:success] %></label>
				<% end %>				
			</form>
		</div> 
	</div> 
</div>