<%= form_for @noticia_foto, :html => { :class => "form-horizontal noticia_foto" } do |f| %>

  <% if @noticia_foto.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@noticia_foto.errors.count, "error") %> prohibited this noticia_foto from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @noticia_foto.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :Noticia_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :Noticia_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:Noticia_id) %>
  </div>
  <div class="form-group">
    <%= f.label :nome, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :nome, :class => 'form-control' %>
    </div>
    <%=f.error_span(:nome) %>
  </div>
  <div class="form-group">
    <%= f.label :descricao, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :descricao, :class => 'form-control' %>
    </div>
    <%=f.error_span(:descricao) %>
  </div>
  <div class="form-group">
    <%= f.label :foto, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.file_field :foto,:id=>"fileselect", :class => 'form-control' %>
    </div>
    <%=f.error_span(:foto) %>
  </div>
  
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                noticia_fotos_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
