<%- model_class = NoticiaVideo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:descricao) %></th>
      <th><%= model_class.human_attribute_name(:link_youtube) %></th>
      <th><%= model_class.human_attribute_name(:Noticia_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @noticia_videos.each do |noticia_video| %>
      <tr>
        <td><%= link_to noticia_video.id, noticia_video_path(noticia_video) %></td>
        <td><%= noticia_video.nome %></td>
        <td><%= noticia_video.descricao %></td>
        <td><%= noticia_video.link_youtube %></td>
        <td><%= noticia_video.Noticia_id %></td>
        <td><%=l noticia_video.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      noticia_video_path(noticia_video), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_noticia_video_path(noticia_video), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      noticia_video_path(noticia_video),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_noticia_video_path,
            :class => 'btn btn-primary' %>
