<%- model_class = GaleriaVideo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nome) %>:</strong></dt>
  <dd><%= @galeria_video.nome %></dd>
  <dt><strong><%= model_class.human_attribute_name(:descricao) %>:</strong></dt>
  <dd><%= @galeria_video.descricao %></dd>
  <dt><strong><%= model_class.human_attribute_name(:link_youtube) %>:</strong></dt>
  <dd><%= @galeria_video.link_youtube %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Menu_id) %>:</strong></dt>
  <dd><%= Menu.where("id=0"+galeria_video.Menu_id.to_s).first.try(:nome)   %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              galeria_videos_path, :class => 'btn btn-default'  %>
<%if(@acesso.politica.editar)%>			  
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_galeria_video_path(@galeria_video), :class => 'btn btn-default' %>
<%end%>
<%if(@acesso.politica.excluir)%>			  
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              galeria_video_path(@galeria_video),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<%end%>
