<%- model_class = Perfil -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nome) %>:</strong></dt>
  <dd><%= @perfil.nome %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              perfis_path, :class => 'btn btn-default'  %>
<%if(@acesso.politica.editar)%>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_perfil_path(@perfil), :class => 'btn btn-default' %>
<%end%>
<%if(@acesso.politica.excluir)%>			  
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              perfil_path(@perfil),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<%end%>			  
